

.page-item.active .page-link {
    border-color:  #CEA54B !important;
    color: #CEA54B !important;
    background-color: transparent !important;
}

.page-prev{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background-color: #F7F4EB;
        border-radius: 50%;
        width: 21px;
        height: 21px;
        top: 6px;
        left: -30px;
    }

    &::before{
        content: "";
        position: absolute;
        background-image: url('../../images/arrow-down.png');
        background-position: 0 0;
        background-size: cover;
        width: 14px;
        height: 8px;
        top: 12px;
        left: -28px;
        z-index: 5;
        transform: rotate(90deg);
    }
}

.page-next{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background-color: #F7F4EB;
        border-radius: 50%;
        width: 21px;
        height: 21px;
        top: 6px;
        left: 15px;
    }
    &::before{
        content: "";
        position: absolute;
        background-image: url('../../images/arrow-down.png');
        background-position: 0 0;
        background-size: cover;
        width: 14px;
        height: 8px;
        top: 12px;
        left: 20px;
        z-index: 5;
        transform: rotate(-90deg);
    }
}
