

.page-item.active .page-link {
    border-color:  #CEA54B !important;
    color: #CEA54B !important;
    background-color: transparent !important;
}

.page-prev{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background-color: #F7F4EB;
        border-radius: 50%;
        width: 29px;
        height: 29px;
        top: 3px;
        left: -38px;
    }

    &::before{
        content: "";
        position: absolute;
        background-image: url('../../images/arrow-down.png');
        background-position: 0 0;
        background-size: cover;
        width: 19px;
        height: 11px;
        top: 12px;
        left: -35px;
        z-index: 5;
        transform: rotate(90deg);
    }
}

.page-next{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background-color: #F7F4EB;
        border-radius: 50%;
        width: 29px;
        height: 29px;
        top: 3px;
        left: 16px;
    }
    &::before{
        content: "";
        position: absolute;
        background-image: url('../../images/arrow-down.png');
        background-position: 0 0;
        background-size: cover;
        width: 19px;
        height: 11px;
        top: 12px;
        left: 23px;
        z-index: 5;
        transform: rotate(-90deg);
    }
}
