

.work{

    &__item{
        max-width: 900px;
        width: 100%;
        padding: 20px 30px 35px 15px;
    }
    &__item-name{
        max-width: 85px;
        width: 100%;
        height: auto;
        margin-left: 12px;
    }
}

@media (max-width: 768px){
    .work{
        &__item-name{
            margin-left: 0;
        } 
    }
}