<<<<<<< HEAD
@media (max-width: 680px){
    .social{
        &__item{
            a{
                &::after{
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 485px){
    .social{
        &__items{
            a{
                &::after{
                    font-size: 18px;
                }
            }
        }
    } 
=======
@media (max-width: 680px){
    .social{
        &__item{
            a{
                &::after{
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 485px){
    .social{
        &__items{
            a{
                &::after{
                    font-size: 18px;
                }
            }
        }
    } 
>>>>>>> fa4147c14d0218c01237a7841c0fa2b2c9fee03f
}