.default__btn-1{
    background-color: #CEA54B;
    color: #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.default__btn-2{
    display: inline-block;
    outline: none;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid #CEA54B;
    padding: 9px;
    color: #CEA54B;
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
}