.goods{
    &__item{
        max-width: 380px;
        width: 100%;
        padding: 15px 5px;
        background-color: #F7F4EB;
        text-align: center;
        border-radius: 7px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .35);
        &:hover{
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .35);
            transition: .2s all;
        }
    } 
}