.rating-area {
	overflow: hidden;
	width: 265px;
	margin: 0 auto;
    padding-top: 7px;
    padding-left: 5px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 25px;
	padding: 0;
	cursor: pointer;
	font-size: 29px;
	line-height: 32px;
	color: lightgrey;
	
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: #ffcc00;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #ffcc00;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: #ffcc00;
	
}
.rate-area > label:active {
	position: relative;
}

.rating-result {
	width: 150px;
	
}
.rating-result span {
	padding: 0;
	font-size: 29px;
	margin: 0 1px;
	line-height: 1;
    color: #ffcc00;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: #ffcc00;
	
}