@import "../common/_vars";

.service{
    &__box-item{
        max-width: 380px;
        width: 100%;
        border-radius: 7px;
        background-color: #fff;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .35);
        padding: 12px 35px 5px 35px;
        text-align: center;
        transition: .2s all;
        &:nth-child(3n+1){
            margin-left: 0px;
        }
        &:hover{
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .35);
            transition: .2s all;
        }   
    }
    &__box-title{
        font-size: 24px;
        list-style: 33px;
        color: #CEA54B;
        margin-bottom: 10px;
        @extend %os-bold;   
    }
    &__box-text{
        font-size: 14px;
        line-height: 19px;
        color: #000;
        margin-bottom: 12px;
    }
}

