@import "../common/_vars";
.reviews{
    position: relative;
    background-color: #1F2236;
    &__inner{
        padding: 45px 0px 30px;
        text-align: center;
        position: relative;
    }
    &__title{
        font-size: 32px;
        line-height: 43px;
        color: #CEA54B;
        text-align: center;
        margin-bottom: 35px;
    }
    &__btn{
        width: 200px;
        height: 36px;
        margin: 0 auto;
    }
    &__slider{
        margin-bottom: 55px;
    }

    &__slider-item{
        background-color: #F7F4EB;
        max-width: 380px;
        min-height: 375px;
        width: 100%;
        padding: 15px 8px 0px 18px;
        border-radius: 5px;
        text-align: left;
    }
    &__slider-title{
        font-size: 14px;
        line-height: 16px;
        color: #333;
        @extend %arial-regular;  
        display: inline-block;   
        top: -50px;
        left: 100px;
        position: relative;
     
    }
    &__slider-text{
        font-size: 18px;
        line-height: 24px;
        color: #333;
        text-indent: 1.5em;
        span{
            letter-spacing: 4px;
        }
    }
   

}

.slider{
    &__btn{
        position: absolute;
        background-color:  transparent;
        width: 28px;
        height: 52px;
        outline: none;
    }
    &__btn-left{
        left: -40px;
        top: 145px;
        &::after{
            content: "";
            background-image: url('../../images/arrow-left.png');
            background-size: cover;
            width: 28px;
            height: 52px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__btn-right{
        right: -40px;
        top: 145px;
        &::after{
            content: "";
            background-image: url('../../images/arrow-right.png');
            background-size: cover;
            width: 28px;
            height: 52px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}