@import "../common/_fonts";
@import "../common/_vars";

.about{
    min-height: 600px;
    position: relative;
    background-image: url('../images/about-bg.jpg');
    @extend %section-img;
    color: #333333;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 80%;
        background-color: #F7F4EB;
    }
    &__inner{
        position: relative;
        z-index: 10;
        padding-top: 100px;
    }
    &__inner-subtitle{
        font-size: 1.5em;
        line-height: 2rem;
    }
    &__inner-title{
        font-size: 3em;
        line-height: 4rem;
    }
}