@import "../common/_vars";

.benefit{
    min-height: 510px;
    background-color: #1F2236;
    &__inner{
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 85px 0px 60px; 
    }
    &__wrapper{
        max-width: 720px;
        width: 100%;
        color: #fff;
    }
    &__title{
        margin-bottom: 25px;
    }
    &__text{
        margin-bottom: 35px;
    }
    &__subtitle{
        a{
            text-decoration: underline;
        }
    }
    &__form{
        padding: 30px 40px 35px 40px;
        color: #000;
        background-color: #F7F4EB;
    }
    &__form-title{
        font-size: 22px;
        line-height: 32px;
    }
}