@import "../common/_vars";

.benefit{
    min-height: 510px;
    background-color: #1F2236;
    &__inner{    
        padding: 85px 0px 60px; 
    }
    &__form{
        padding: 30px 40px 35px 40px;
        color: #000;
        background-color: #F7F4EB;
    }
    &__form-title{
        font-size: 1.4rem;
        line-height: 2rem;
    }
}