@import "../common/_vars";
.features{
    position: relative;
    background-color: #F7F4EB;
    &__inner{
        padding: 60px 0px 110px;
        text-align: center;
    }
    &__box-item{
        position: relative;
        padding-top: 130px;
        max-width: 280px;
        width: 100%;
        text-align: center;
        display: inline-block;
        &-1{
            &::after{
                content: "";
                background-image: url('../../images/features-1.png');
                @extend %section-img;
                position: absolute;
                width: 122px;
                height: 120px;
                transform: translate(-70%, -50%);
                top: 75px;
            }
        }
        &-2{
            &::after{
                content: "";
                background-image: url('../../images/features-2.png');
                @extend %section-img;
                position: absolute;
                width: 132px;
                height: 112px;
                transform: translate(-50%, -50%);
                top: 80px;
            }
        }
        &-3{
            &::after{
                content: "";
                background-image: url('../../images/features-3.png');
                @extend %section-img;
                position: absolute;
                width: 177px;
                height: 106px;
                transform: translate(-50%, -50%);
                top: 80px;
            }
        }
        &-4{
            &::after{
                content: "";
                background-image: url('../../images/features-4.png');
                @extend %section-img;
                position: absolute;
                width: 204px;
                height: 153px;
                transform: translate(-50%, -50%);
                top: 80px;
            }
        }
        
    }
   
}