@import "../common/_vars";
.features{
    position: relative;
    background-color: #F7F4EB;
    &__inner{
        padding: 60px 0px 110px;
        text-align: center;
    }
    &__box-item{
        max-width: 280px;
        width: 100%;
        text-align: center;
        display: inline-block;
    }
   
}