@import "../common/_fonts";
.service{
    position: relative;
    background-color: #F7F4EB;
    &__inner{
        text-align: center;
    }   
    padding: 60px 0px 30px;
    &__title{
        font-size: 32px;
        line-height: 43px;
        color: #000;
        margin-bottom: 12px;
        position: relative;
    }
    &__text{
        font-size: 18px;
        list-style: 24px;
        color: #000;
        margin-bottom: 45px;
    }
    &__box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }
    &__btn{
        max-width: 200px;
        height: 36px;
    }
}