@import "../common/_fonts";
@import "../common/_vars";

.service{ 
    background-color: #F7F4EB;
    &__inner{
        text-align: center;
        padding: 60px 0px 30px;
        color: #000;
    }   
    &__title{   
        
        margin-bottom: 12px;
    }
    &__text{
      
        margin-bottom: 45px;
    }
    &__box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 25px;
    }
    &__btn{
        max-width: 200px;
        width: 100%;
        height: 36px;
        margin-top: 35px;
    }
    
}