.footer{
    position: relative;
    background-color: #1F2236;
    &__inner{
        padding: 65px 0px 15px;
        color: #fff;
    }
    &__logo{
        display: flex;
        align-items: center;
    }
    &__content-wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    &__logo-title{
        font-size: 24px;
        line-height: 33px;
    }
    &__logo-text{
        font-size: 14px;
        line-height: 19px;
    }
    &__emblem{  
        display: flex;
        max-width: 280px;
        width: 100%;
    }
    &__emblem-text{
        font-size: 14px;
        line-height: 19px;
        margin-left: 15px;
    }
    &__copyright{
        font-size: 14px;
        line-height: 19px;
        max-width: 250px;
        width: 100%;
    }
    &__item{
        display: block;
        & + .footer__item{
            margin-top: 15px;
        }
    }

    &__info-phone{
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 15px;
        position: relative;
        &::before{
            content: "\e942";
            font-family: 'icomoon';
            position: absolute;
            left: -30px;
            top: -2px;
            font-size: 20px;
        }
    }
    &__link-item{
        position: relative;
        a{
            color: #fff;
        }  
    }

    &__privacy-policy{
        font-size: 14px;
        line-height: 19px;
        text-decoration: underline;
        bottom: 12px;
        width: 100%;
        text-align: center;
    }
}