.header{
    position: relative;
    &__info{
        display: flex;
        align-items: center;
        background-color: #1F2236;
        min-height: 40px;
        color: #fff;
    }
    &__logo{
        display: flex;
        color: #000;
        align-items: center;
    }
    &__contact-phone{
        white-space: nowrap;
        position: relative;
        &::before{
            font-family: 'icomoon';
            content: "\e942";
            position: absolute;
            left: -5px;
            font-size: 20px;
            top: -2px;
        }
    }
    &__btn{
        max-width: 170px;
        width: 100%;
        min-height: 50px;
        font-size: 16px;
        line-height: 22px;
        
    }
}


.menu{
    display: flex;
    align-items: center;
    background-color: #F7F4EB;
    height: 60px;
    &__list{
        display: block;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
        background-color: #F7F4EB;
        text-align: center;
    }
    &__list-item{
        display: inline-block;
        margin-left: 50px;
        font-size: 1.1rem;
        line-height: 2rem ;
        &:first-child{
            margin-left: 0px;
        }

    }
}
@media (max-width: 1200px){
    .menu{
        &__list-item{
            margin-left: 40px;
            font-size: 0.9rem;
            line-height: 2rem ;  
        }
    }
}
@media (max-width: 768px){
    .menu{
        height: auto;
        position: relative;
        &__list{
            position: absolute;
            display: none;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        &__list-item{
            width: 100%;
            display: block;
            padding: 6px 0px 6px;
            font-size: 15px;
            text-align: center;
            margin-left: 0px;
            & + .menu__list-item{
                border-top: 1px solid #ccc;
            }
        
        }
       
    } 
    .icon-bars{
        height: 60px;
        &::before{
            font-family: 'icomoon';
            content: "\e9bb";
            position: absolute;
            font-size: 20px;
            right: 15px;
            cursor: pointer;
            top: 22px;

        }
    }
}

@media (max-width: 576px){
    .header__contact-phone{
        &::before{
            content: none;
        }
    }
}