.header{
    position: relative;
    &__info{
        display: flex;
        align-items: center;
        background-color: #1F2236;
        min-height: 40px;
        color: #fff;
    }
    &__inner{
        display: flex;
    }
    &__info-location{
        margin-right: 40px;
    }
    &__info-phone{
        a{
            text-decoration: underline;
        }
    }
    &__info-wrapper{
        display: flex;
    }

    &__content{
        display: flex;
        align-items: center;
        padding: 5px 0px 5px;
    }

    &__logo{
        display: flex;
        color: #000;
        align-items: center;
    }
    &__content-wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    &__logo-title{
        font-size: 24px;
        line-height: 33px;
    }
    &__logo-text{
        font-size: 14px;
        line-height: 19px;
    }

    &__emblem{
        display: flex;
        width: 280px;
        align-items: center;
    }
    &__emblem-text{
        font-size: 14px;
        line-height: 19px;
        margin-left: 15px;
    }

    &__contact{
        display: flex;
        align-items: center;
    }
    &__contact-phone{
        font-size: 24px;
        line-height: 33px;
        white-space: nowrap;
        padding-left: 30px;
        position: relative;
        &::before{
            font-family: 'icomoon';
            content: "\e942";
            position: absolute;
            left: -5px;
            font-size: 20px;
            top: -2px;
        }
    }
    &__contact-text{
        font-size: 14px;
        line-height: 19px;
        padding-left: 30px;
        text-decoration: underline;
        font-style: italic;
    }
    &__btn{
        max-width: 170px;
        width: 100%;
        height: 50px;
        min-height: 50px;
        font-size: 16px;
        line-height: 22px;
        
    }
}


.menu{
    display: flex;
    align-items: center;
    background-color: #F7F4EB;
    height: 60px;
    &__list{
        display: block;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
        background-color: #F7F4EB;
        text-align: center;
    }
    &__list-item{
        display: inline-block;
        margin-left: 50px;
        font-size: 18px;
        line-height: 24px;
        &:first-child{
            margin-left: 0px;
        }

    }
}

@media (max-width: 768px){
    .menu{
        height: auto;
        position: relative;
        &__list{
            position: absolute;
            display: none;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        &__list-item{
            width: 100%;
            display: block;
            padding: 6px 0px 6px;
            font-size: 15px;
            text-align: center;
            margin-left: 0px;
            & + .menu__list-item{
                border-top: 1px solid #ccc;
            }
        
        }
       
    } 
    .icon-bars{
        height: 60px;
        &::before{
            font-family: 'icomoon';
            content: "\e9bb";
            position: absolute;
            font-size: 20px;
            right: 15px;
            cursor: pointer;
            top: 22px;

        }
    }
}