html{
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    &:hover{
        text-decoration: underline;
        color: inherit;
    }
    
}
p{
    font-weight: inherit;
    margin: 0;
    margin-bottom: 0;

}
button{
    border: none;
}

ul,
li{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.container{
    max-width: 1210px;
    padding: 0 15px;
    margin: 0px auto;
    width: 100%;
}

body{
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    color: #000;
    font-size: 16px;
    line-height: 19px;
    @extend %os-regular;      
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
  }

.accordion-button::after{
    position: absolute;
    background-size: 1.1rem;
    width: 1.1rem;
    height: 1.1rem;
    left: -58px;
    top: 17px;
    color: #333;
    
}
.accordion-button:not(.collapsed)::after{
    transform: rotate(-90deg) !important;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}