.section-text-sm{
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.section-text{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #000;
}
.section-title{
    font-size: 2rem;
    line-height: 2.7rem;
    color: #000;
}
.section-subtitle{
    font-size: 1.5rem;
    line-height: 2rem; 
    color: #000;
}
.white-text{
    color: #fff;
}
.grey-text{
    color: #333;
}
.yellow-text{
    color: #CEA54B;
}
.section-indent{
    text-indent: 3em;
}
.section-italic{
    font-style: italic;
}
.os-bold{
    @extend %os-bold;
}
.os-regular{
    @extend %os-regular;
}

          
