.section-text{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #000;
}
.section-title{
    font-size: 2rem;
    line-height: 2.7rem;
    color: #000;
}
.section-subtitle{
    font-size: 1.5rem;
    line-height: 2rem; 
    color: #000;
}
.white-text{
    color: #fff;
}
.yellow-text{
    color: #CEA54B;
}
.section-padding{
    
}

          
